section{
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 70vh;
    width: 100vw;

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: end;
        padding-right: 40px;
    }
    
    img{
        position: relative;
        min-height: 700px;
        min-height: 720px;
    }
}