section{
    display: flex;
    align-items: center;
    position: absolute;
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
    grid-template-columns: 16.6% 27.6% 7.8% 5.5% 5% 23.5% 7% 7%;
    color: #FFFFFF;
    display: grid;
    height: 100px;
    bottom: 0;
    width: 100%;
}

#buttonLogout{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 700;

    &:hover{
        color: #c13316;
    }
}

#seicentos{
    display: flex;
    justify-content: center;
    height: 42px;
    font-size: 40px;
    font-weight: bold;
}