section{
    display: flex;
    align-items: center;
    position: absolute;
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
    grid-template-columns: 16.6% 27.6% 7.8% 5.5% 5% 23.5% 7% 7%;
    color: #FFFFFF;
    display: grid;
    height: 10%;
    width: 100%;
    
    div{
        margin-left: 10px;
    }
    
}

#seicentos{
    display: flex;
    justify-content: center;
    height: 42px;
    font-size: 40px;
    font-weight: bold;
}