section{
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
    color: rgb(255, 127, 127);
    height: 100vh;
    width: 50vw;

    @media (max-width: 900px){
        width: 100vw;
    }
    
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 420px;
        font-size: 16px;

        @media (max-width: 485px){
            width: 320px;
        }
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #salutation{
        margin-bottom: 150px;

        @media (max-width: 414px){
            height: 100px;
        }
    }

    #errorPassaword{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 30px;
        width: 100%;
        height: 50px;
    }
}