div{

    // LOGIN-LEFT

    .greetingParagraph{
        font-size: 16px;
        color: #E0E0E0;
        width: 300px;
    }
    
    .loginText{
        display: flex;
        text-align: start;
        font-size: 30px;
        color: #E0E0E0;
    }
    
    .errorMessage{
        display: flex;
        font-size: 16px;
        color: #E9B425;
        font-weight: 400;
        text-align: center;
        width: 90%;
    }
    // HEADER-HOME

    .textDay{
        font-size: 15px;
    }
    
    .textCity{
        font-size: 15px;
    }

    // MAIN-HOME

    .paragraphContent{
        font-size: 22px;
        font-weight: 400;
    
        @media (max-width: 1530px){
            font-size: 17px;
        }
    
        @media (max-width: 1155px){
            font-size: 15px;
        }
        @media (max-width: 1077px){
            font-size: 12px;
        }
    }
    
    // FOOTER-HOME

    .textFooterContent{
        display: flex;
        grid-column: 2;
        text-align: end;
        margin-left: 10px;
        font-size: 11px;
        color: #FFFFFF;
        align-items: center; 
    
        @media (max-width: 1000px){
          display: none;
        }
    }
    
    .refreshText{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-align: right;
        font-size: 14px;
        grid-column:4;
        height: 100%;
    
        @media (max-width: 1000px){
            display: none;
        }
    }
    
    .seconds{
        display: flex;
        justify-content: center;
        font-size: 13px; 

        @media (max-width: 1000px){
            display: none;
        } 
    }
    
    .continueText{
        display: flex;
        text-align: center;
        align-items: center;
        grid-column: 7;
        color: #C13216;
        background-color: #ffffff;
        height: 100%;
        
        @media (max-width: 1000px){
            display: flex;
            align-items: center;
            grid-column: 3;
            width: 100px;
        } 
    }

    // ERRO 401
    .unauthorized{
        font-size: 40px;
        font-weight: bold;
        color: #222222;
    }

    .redirecting{
        display: flex;
        font-size: 20px;
        color: #222222;
        margin-top: 10px;
    }
}