div{
    display: flex;
    justify-content: space-between;
    height: 30%;
    width: 100%;
    background-color: rgb(14, 145, 145);

    img{
        height: 50px;
        padding: 1%;
        background-color: rgb(54, 109, 91);
    }
}