section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    height: 80px;
    
    @media(max-width: 1000px){
        display: none;
    }

    div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #climate{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        img{
            height: 45px;
        }
    }
}