div{
    display: flex;
    justify-content: center;
    
    .firstTitle{
        font-size: 32px;
        font-weight: 600;
        color: #C12D18;

        @media (max-width: 1572px){
            font-size: 28px;
        }

        @media (max-width: 1385px){
            font-size: 26px;
        }

        @media (max-width: 1302px){
            font-size: 24px;
        }

        @media (max-width: 1218px){
            font-size: 22px;
        } 

        @media (max-width: 1155px){
            font-size: 20px;
        }

        @media (max-width: 1052px){
            font-size: 18px;
        }
    }
    
    .titleContent{
        font-size: 57px;
        color: #C12D18;
        font-weight: 600;

        @media (max-width: 1572px){
            font-size: 45px;
        }

        @media (max-width: 1385px){
            font-size: 40px;
        }

        @media (max-width: 1302px){
            font-size: 35px;
        }

        @media (max-width: 1218px){
            font-size: 30px;
        } 

        @media (max-width: 1155px){
            font-size: 25px;
        }

        @media (max-width: 1052px){
            font-size: 20px;
        }
    }
    
    .salutationTitle{
        font-size: 60px;
        font-weight: 400;
        color: #E0E0E0;
        margin-bottom: 25px;

        @media (max-width: 414px){
            margin-top: 50%;
            margin-bottom: 0;
         }
    }

    .numberClock{  
        align-items: center;
        font-size: 140px;
        font-weight: 600;
        color: #222222;
        line-height: 0.8em;
    }

    .degreesCelsius{
        font-size: 48px;
        color: #222222;
        font-weight: 600;
        padding-left: 10px;
    }

    .erro401{
        font-size: 50px;
        font-weight: bold;
        color: #222222;
    }
}