section{
    display: flex;
    justify-content: center;
    background: linear-gradient(105.96deg, #FFFFFF 0%, #F0F0F0 97.86%);
    height: 100vh;
    width: 100%;

    div{
        display: flex;
        align-items: center;
    }
}