section{

    @media(max-width: 1000px){
        display: none;
    }

    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}